@import './../styles/components/responsive';

.section {
  height: inherit;
  user-select: none;
  background-color: var(--color-primary);
  overflow: hidden;
  isolation: isolate;
  @include small-down() {
    //background: #fd1669;
  }

  a {
    font-weight: bold;
    color: #088ae9;
  }

  figure {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 1;

    &:after {
      content: 'Me Want Gold Rush';
      position: absolute;
      left: -4rem;
      top: -1rem;
      background-color: #d0511181;
      color: var(--white);
      padding: 1rem 1.5rem;
      border-radius: 999px;
      animation: floating 4s linear infinite alternate;
    }

    img {
      margin: 0 auto;
      width: 40vw;
      max-width: 400px;
    }
  }

  a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16.1856px;
    gap: 14.39px;
    width: 180px;
    height: 104px;
    color: var(--color-secondary);
    font-size: 1rem;
    background: none;
    color: var(--color-tertiary);
    background-image: url('./../assets/btn-border.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    z-index: 999;
    cursor: pointer;

    &:focus {
      outline: none;
      border: none;
    }

    &[disabled] {
      opacity: 0.4;
      color: #212121;
      cursor: not-allowed;
    }
  }
}

.grid {
  gap: 0.7rem;
}

.grid__item {
  position: relative;
  padding: 0.9rem 0.8rem;
  border-radius: var(--global-border-radius);
  opacity: 1;
  transition-property: box-shadow, transform;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);

  &:hover {
    background-color: #f4f4f4;
    .close-btn {
      i {
        top: 0;
        opacity: 1;
      }
    }
  }
}

@keyframes floating {
  0% {
    transform: translate(0, -0.1rem) rotate(-25deg);
  }
  50% {
    transform: translate(0, 0.8rem) rotate(-25deg);
  }
  100% {
    transform: translate(0, -0.1rem) rotate(-25deg);
  }
}
